/*cabeçalho*/

.navbar-brand img{
    height: 50px;
    width: 50px;
}
/*Conteudo principal*/

main{
    min-height: 500px;
}
/*banner*/
#section-banners img{
    /* flex-direction: column;
    align-items: center;
    display: flexbox; */
    height: 500px;
}

/*Produtos vendidos*/

#section-vendidos{
    text-align: center;

}

#section-vendidos h2 {
    font-weight: bold;
    padding: 20px;
}

#section-vendidos img {
    height: 300px;
    border-radius: 10px;
}

#section-vendidos .card{
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;

}

#section-vendidos .preço{
    color: red;
    font-size: 18px;
    font-weight: bold;

}

/*Rodapé*/
footer{
    text-align: center;
}

footer p{
    font-weight: bold;
    padding: 10px;
}

/*Botão Voltar topo*/

/* página de login  */
#section-login h1{
    align-items: center;
    
}


/* Formulário de cadastro*/

form{
    
}